.ant-popover {
  position: absolute;
  left: -66px;
  top: -800px;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  z-index: 1030;
  font-weight: 400;
  white-space: normal;
  text-align: left;
  cursor: auto;
  user-select: text;
}
.ant-popover .ant-popover-content .ant-popover-arrow {
  display: block;
  position: absolute;
  top: 50%;
  right: 1.51471863px;
  width: 10px;
  height: 10px;
  transform: translateY(-50%);
  border-width: 5px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
}
.ant-popover .ant-popover-content .ant-popover-arrow .ant-popover-arrow-content {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 6px;
  height: 6px;
  margin: auto;
  box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.07);
  transform: translateX(-4.24264069px) rotate(45deg);
}
.ant-popover .ant-popover-content .ant-popover-inner {
  box-shadow: 0 2px 4px 0 rgba(255, 105, 0, 0.45);
  background-color: #ff5c00;
  background-clip: padding-box;
  border-radius: 2px;
}
.ant-popover .ant-popover-content .ant-popover-inner .ant-popover-inner-content {
  padding: 5px 13px;
  color: #fff;
}
.ant-popover .ant-popover-content .ant-popover-inne {
  background-color: #fff;
  box-shadow: 0 5px 20px 0 hsla(0, 0%, 63.5%, 0.2);
}
.ant-popover .ant-popover-content .ant-popover-inne .ant-popover-title {
  min-width: 400px;
  min-height: 32px;
  margin: 0;
  padding: 20px 40px 10px;
  text-align: center;
  border-bottom: none;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  line-height: 40px;
}
.ant-popover .ant-popover-content .ant-popover-inne .ant-popover-inner-content {
  padding: 0 30px 20px;
  color: rgba(0, 0, 0, 0.85);
}
.ant-popover .ant-popover-content .ant-popover-inne .ant-popover-inner-content .scan-code-login-faqs-item {
  margin-bottom: 15px;
}
.ant-popover .ant-popover-content .ant-popover-inne .ant-popover-inner-content .scan-code-login-faqs-item .scan-code-login-faqs-title {
  padding: 8px 0;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  line-height: 1.45;
}
.ant-popover .ant-popover-content .ant-popover-inne .ant-popover-inner-content .scan-code-login-faqs-item .scan-code-login-faqs-content {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  line-height: 20px;
}
.qr-login-switch__popover {
  transform: translateZ(0);
}
.ant-popover-placement-left {
  padding-right: 10px;
}
.ant-popover-active {
  top: -25px !important;
  left: -125px !important;
}
.ant-popover-question-active {
  left: 1100px !important;
  top: 272px !important;
}
