.field-error {
  background: #fcf2f3 !important;
}
.field-active {
  border-color: #ff6700 !important;
  background-color: #fff !important;
}
.form-field-field {
  position: relative;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  border-radius: 4px;
  background-color: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0);
}
.form-field-field .form-field-control {
  position: relative;
  display: table;
  width: 100%;
}
.form-field-field .form-field-control .text-field-input .from-inp {
  padding: 30px 20px 10px;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  appearance: none;
  font-size: 17px;
  color: #333;
  line-height: 20px;
}
.form-field-field .form-field-control .text-field-input .floating-label {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 20px;
  color: rgba(0, 0, 0, 0.4);
  user-select: none;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  transition: top 0.15s cubic-bezier(0.4, 0, 0.2, 1), font-size 0.15s cubic-bezier(0.4, 0, 0.2, 1), color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  max-width: calc(100% - 20px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.form-field-field .form-field-control .text-field-input .floating-label-error {
  color: #f04645 !important;
}
.form-field-field .form-field-control .text-field-input .floating-label-active {
  top: 6px !important;
  font-size: 12px !important;
}
.form-helper-text-error {
  margin-top: 10px;
  line-height: 20px;
  color: #f04645;
  font-size: 12px;
  font-variant: tabular-nums;
  font-feature-settings: "tnum", "tnum";
}
